/* "Надо везде прописать высоту строки по макету": она указана для всего документа и наследуется */

.popup__heading {
    margin: auto;
    font-size: 18px;
    font-weight: 900;
    color: #000;
  }

  @media screen and (min-width: 600px) {
    .popup__heading {
      font-size: 24px;
    }
  }