/* "Надо еще прописать высоту строки. Она отличается от высоты строки моб.разрешения": line-height у всего документа 1.21 - это значение прописано в блоке .page и наследуется потомками */

.profile__description {
    margin: 0;
    margin-top: 7px;
    padding: 0;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  
  @media screen and (min-width: 600px) {
    .profile__description {
      max-width: 230px;
      justify-self: start;
      align-self: start;
      font-size: 18px;
    }
  }
  
  @media screen and (min-width: 900px) {
    .profile__description {
      max-width: 520px;
    }
  }