.profile__name-wrapper {
    margin-top: 26px;
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
  
  @media screen and (min-width: 600px) {
    .profile__name-wrapper {
      margin-top: 0;
      justify-self: start;
      align-self: end;
    }
  }